﻿@{
    Layout = null;
}
    <h2>ApplicationUser Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Claims" class = "control-label col-md-2">
                 Claims
                </label>
                <div class="col-md-10">
                    <a ng-href="#IdentityUserClaim?ApplicationUser={{data.Id }}" >
                    {{data.Claims_Count}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Logins" class = "control-label col-md-2">
                 Logins
                </label>
                <div class="col-md-10">
                    <a ng-href="#IdentityUserLogin?ApplicationUser={{data.Id }}" >
                    {{data.Logins_Count}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Roles" class = "control-label col-md-2">
                 Roles
                </label>
                <div class="col-md-10">
                    <a ng-href="#IdentityUserRole?ApplicationUser={{data.Id }}" >
                    {{data.Roles_Count}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Email" class = "control-label col-md-2">
                Email
                </label>
                <div class="col-md-10">
                    {{data.Email}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="EmailConfirmed" class = "control-label col-md-2">
                EmailConfirmed
                </label>
                <div class="col-md-10">
                    {{data.EmailConfirmed}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PasswordHash" class = "control-label col-md-2">
                PasswordHash
                </label>
                <div class="col-md-10">
                    {{data.PasswordHash}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="SecurityStamp" class = "control-label col-md-2">
                SecurityStamp
                </label>
                <div class="col-md-10">
                    {{data.SecurityStamp}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PhoneNumber" class = "control-label col-md-2">
                PhoneNumber
                </label>
                <div class="col-md-10">
                    {{data.PhoneNumber}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PhoneNumberConfirmed" class = "control-label col-md-2">
                PhoneNumberConfirmed
                </label>
                <div class="col-md-10">
                    {{data.PhoneNumberConfirmed}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="TwoFactorEnabled" class = "control-label col-md-2">
                TwoFactorEnabled
                </label>
                <div class="col-md-10">
                    {{data.TwoFactorEnabled}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="LockoutEndDateUtc" class = "control-label col-md-2">
                LockoutEndDateUtc
                </label>
                <div class="col-md-10">
                    {{data.LockoutEndDateUtc}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="LockoutEnabled" class = "control-label col-md-2">
                LockoutEnabled
                </label>
                <div class="col-md-10">
                    {{data.LockoutEnabled}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="AccessFailedCount" class = "control-label col-md-2">
                AccessFailedCount
                </label>
                <div class="col-md-10">
                    {{data.AccessFailedCount}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UserName" class = "control-label col-md-2">
                UserName
                </label>
                <div class="col-md-10">
                    {{data.UserName}}
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/ApplicationUser">Back to List</a>
    </div>
