﻿@{
    Layout = null;
}
    <h2>ApplicationUser</h2>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Email" class = "control-label col-md-2"> Email </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Email" id="Email"  class="form-control"/>
                    <div id="validation_for_Email"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="EmailConfirmed" class = "control-label col-md-2"> EmailConfirmed </label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="data.EmailConfirmed" id="EmailConfirmed"  class="form-control"/>
                    <div id="validation_for_EmailConfirmed"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="PasswordHash" class = "control-label col-md-2"> PasswordHash </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.PasswordHash" id="PasswordHash"  class="form-control"/>
                    <div id="validation_for_PasswordHash"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="SecurityStamp" class = "control-label col-md-2"> SecurityStamp </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.SecurityStamp" id="SecurityStamp"  class="form-control"/>
                    <div id="validation_for_SecurityStamp"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="PhoneNumber" class = "control-label col-md-2"> PhoneNumber </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.PhoneNumber" id="PhoneNumber"  class="form-control"/>
                    <div id="validation_for_PhoneNumber"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="PhoneNumberConfirmed" class = "control-label col-md-2"> PhoneNumberConfirmed </label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="data.PhoneNumberConfirmed" id="PhoneNumberConfirmed"  class="form-control"/>
                    <div id="validation_for_PhoneNumberConfirmed"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="TwoFactorEnabled" class = "control-label col-md-2"> TwoFactorEnabled </label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="data.TwoFactorEnabled" id="TwoFactorEnabled"  class="form-control"/>
                    <div id="validation_for_TwoFactorEnabled"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="LockoutEndDateUtc" class = "control-label col-md-2"> LockoutEndDateUtc </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.LockoutEndDateUtc" id="LockoutEndDateUtc"  class="form-control"/>
                    <div id="validation_for_LockoutEndDateUtc"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="LockoutEnabled" class = "control-label col-md-2"> LockoutEnabled </label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="data.LockoutEnabled" id="LockoutEnabled"  class="form-control"/>
                    <div id="validation_for_LockoutEnabled"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="AccessFailedCount" class = "control-label col-md-2"> AccessFailedCount </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.AccessFailedCount" id="AccessFailedCount"  class="form-control"/>
                    <div id="validation_for_AccessFailedCount"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="UserName" class = "control-label col-md-2"> UserName </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.UserName" id="UserName"  class="form-control"/>
                    <div id="validation_for_UserName"></div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    </form>
    
    <div>
        <a href="#/ApplicationUser">Back to List</a>
    </div>
