﻿    @{
        Layout = null;
    }
    <h2>ApplicationUser</h2>
    <p>
        <a href="#/ApplicationUser/Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Claims
            </th>
            <th>
                Logins
            </th>
            <th>
                Roles
            </th>
            <th>
                Email
            </th>
            <th>
                EmailConfirmed
            </th>
            <th>
                PasswordHash
            </th>
            <th>
                SecurityStamp
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                PhoneNumberConfirmed
            </th>
            <th>
                TwoFactorEnabled
            </th>
            <th>
                LockoutEndDateUtc
            </th>
            <th>
                LockoutEnabled
            </th>
            <th>
                AccessFailedCount
            </th>
            <th>
                UserName
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td>
                    <a ng-href="#IdentityUserClaim?ApplicationUser={{item.Id }}" >
                    {{item.Claims_Count}}
                    </a>
            </td>
            <td>
                    <a ng-href="#IdentityUserLogin?ApplicationUser={{item.Id }}" >
                    {{item.Logins_Count}}
                    </a>
            </td>
            <td>
                    <a ng-href="#IdentityUserRole?ApplicationUser={{item.Id }}" >
                    {{item.Roles_Count}}
                    </a>
            </td>
            <td>
                {{ item.Email }}
            </td>
            <td>
                {{ item.EmailConfirmed }}
            </td>
            <td>
                {{ item.PasswordHash }}
            </td>
            <td>
                {{ item.SecurityStamp }}
            </td>
            <td>
                {{ item.PhoneNumber }}
            </td>
            <td>
                {{ item.PhoneNumberConfirmed }}
            </td>
            <td>
                {{ item.TwoFactorEnabled }}
            </td>
            <td>
                {{ item.LockoutEndDateUtc }}
            </td>
            <td>
                {{ item.LockoutEnabled }}
            </td>
            <td>
                {{ item.AccessFailedCount }}
            </td>
            <td>
                {{ item.UserName }}
            </td>
            <td>
                <a ng-href="#/ApplicationUser/Edit/{{item.Id}}">Edit</a> |
                <a ng-href="#/ApplicationUser/{{item.Id}}">Details</a> |
                <a ng-href="#/ApplicationUser/Delete/{{item.Id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    
    </table>
