﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        <article class="family">
            <header>
                <h1 class="husband"><span class="first-name"></span><span class="last-name"></span></h1>
                <h2 class="wife"><span class="first-name"></span><span class="last-name"></span></h2>
            </header>          
            <div class="children">
                <div class="child">
                    <p class="name">
                        <span class="first-name"></span>
                        <span class="last-name"></span>
                    </p>
                    <p class="dates-info">
                        <span class="baptism-date"></span>     
                        <span class="confirmation-date"></span>
                    </p>
                    <p class="description-history"></p>
                </div>
                <div class="child">
                    <p class="name">
                        <span class="first-name"></span>
                        <span class="last-name"></span>
                    </p>
                    <p class="dates-info">
                        <span class="baptism-date"></span>     
                        <span class="confirmation-date"></span>
                    </p>
                    <p class="description-history"></p>
                </div>
            </div>
            <p class="description-history"></p>
        </article>
    </body>
</html>
