﻿<div id="familyTree">
    <div ng-repeat="family in familys | limitTo:limitVal"
         data-descendantnumber="{{family.parents}}"
         data-parents="{{family.Parents}}">
        <div class="descendant small">
            <span class="firstname">{{family.firstName}}</span>
            <span class="lastname">{{family.middleName}}</span>
            <span class="lastname">{{family.lastName}}</span>
            <span class="birthdate"><span ng-show="family.birthDate">Birthdate: </span>{{family.birthDate}}</span>
            <span class="married"><span ng-show="family.marriedTo">Married to: </span>{{family.marriedTo}}</span>
            <span class="married"><span ng-show="family.marriedDate">in </span> {{family.marriedDate}}</span>
            <span class="history"><span ng-show="family.marriedTo">History: </span>{{family.history}}</span>
            <a class="seeParents" data-parent="family.parents"></a>
            <a class="glyphicon glyphicon-menu-down" ng-click="showModal($event)" ng-class="{'active': isActive}"></a>
        </div>
    </div>
</div>