﻿html, body{height:100%;}

p {margin:10px 0;line-height:1.2em;}
a {color:#666666;}

    a:hover {text-decoration:underline;}
footer{clear:both;}

.zoomTree {
    padding:20px 0 80px 0;
    margin:auto;
}

.descendant {
    float:left;
    width:20em;
    min-height:80px;
    margin:20px;
    padding:20px;
    background-color:#EFEBD2;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 2px 10px 2px 4px / 4px 2px 10px 2px;
    -moz-box-shadow: 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px rgba(0,0,0,0.3); 
   cursor:pointer;
}

.descendant span {padding-right:4px;}

.descendant .firstname {font-size:1.2em;margin:4px 0;}
.descendant .lastname {font-size:1.2em;}

.descendant .history {display:none;}
.descendant .birthdate {display:block;margin:4px 0 4px 6px;}
.descendant .married {display:block;margin:4px 0;}
.descendant.openDialogue {
    position:fixed;
    display:block;
    left:50%;
    top:20%;
    margin-left:-250px;
    width:500px;
    height:auto;
    z-index:3;
    /*transition-timing-function:ease-in;*/
    background-color:#565419;
    color:#EFEBD2;
}

.openDialogue a {
    color:#D4C98B;
}

.descendant.openDialogue .firstname {font-size:1.6em;margin:4px 0;}
.descendant.openDialogue .lastname {font-size:1.6em;}
.descendant.openDialogue .history {display:block;line-height:1.4em;font-size:1.2em;}
.descendant.openDialogue .birthdate {margin-top:10px !important;}
.descendant.openDialogue .birthdate,.descendant.openDialogue .married {display:block;margin:4px 0;font-size:1.2em;font-weight:bold;}
.seeParents {
    display:block;
}
#modalBG {
    position:fixed;
    display:none;
    height:100%;
    width:100%;
    top:0;
    bottom:0;
    background-color:#333333;
    opacity: 0.5;
    z-index:2;
}     
.pale-green {color:#EFEBD2;}
.light-green {color: #D4C98B;}
.medium-green {color: #A9983C;}
.dark-green {color: #565419;}
.black-green {color: #272705;}