﻿
<section ng-app="appFamily">
    <div ng-controller="familysController" ng-hint ng-cloak>
        <header class="page-header">
            <h1>{{description}}</h1>
        </header>
        <div class="treeFilter">
            <h2>Filter Tree</h2>
            <p>Display: <select ng-model="limitVal" ng-options="item for item in limitRange"></select> familys.</p>
            @*<p>Display decendants who were <select ng-model="isMarried" ng-options="item for item in marriedRange"></select></p>*@
        </div>
        <descendant></descendant>
        <div id="modalBG"></div>
        <div id="modalShade" ng-click="showModal($event)" ng-show="isActive"></div>
    </div>
</section>

