﻿@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70 
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "MVC 5";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "professional sandbox testing ground for MVC5 and Angular JS.";
   
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page 
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@hawgfuel");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Description</p>
    <p><a href="https://bitbucket.org/hawgfuel/" class="btn btn-primary btn-lg">Download Source &raquo;</a></p>
</header>

<div class="row">
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-book"></span> Getting started</h2>
        </header>
        <p>
            <a href="http://go.microsoft.com/fwlink/?LinkId=301870">ASP.NET Web API</a> is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
    </article>
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-flag"></span> Font Awesome</h2>
        </header>
        <p><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> gives you scalable vector icons that can instantly be customized — size, colour, drop shadow, and anything that can be done with the power of CSS.</p>
    </article>
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-check"></span> Modernizr</h2>
        </header>
        <p><a href="http://modernizr.com/">Modernizr</a> is a JavaScript library that detects HTML5 and CSS3 features in the user's browser.</p>
    </article>
</div>

<div class="row">
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-lock"></span> NWebsec</h2>
        </header>
        <p><a href="https://github.com/NWebsec/NWebsec">NWebsec</a> makes securing your ASP.NET MVC site easy with a handful of simple attributes you can add to your global filters, controllers or actions.</p>
    </article>
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-life-ring"></span> Elmah</h2>
        </header>
        <p><a href="https://code.google.com/p/elmah/wiki/MVC">ELMAH</a> (Error Logging Modules and Handlers) is an application-wide error logging facility that is completely pluggable.</p>
    </article>
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-line-chart"></span> Glimpse</h2>
        </header>
        <p><a href="http://getglimpse.com/">Glimpse</a> makes debugging and performance testing easier by providing real time diagnostics & insights.</p>
    </article>
</div>
