﻿@{
    ViewBag.Title = "Family Tree";
}
<section ng-app="app-geneology">
    <div ng-controller="geneologyController as vm">
        <header class="page-header">
            <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
            <p>{vm.description}</p>
        </header>

        <div id="familys" class="zoomTree"></div>
        <div id="modalBG"></div>
        <link href="~/Styles/Screen.css" rel="stylesheet" />
    </div>
</section>